#!/bin/bash

# Install kitty
echo "# Installing kitty"
curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin launch=n

# Symlink into $PATH
ln -s $HOME/.local/kitty.app/bin/kitty $HOME/.local/bin/

{{ if eq .chezmoi.osRelease.name "Pop!_OS"}}
# Add Desktop shortcut
cp $HOME/.local/kitty.app/share/applications/kitty.desktop $HOME/.local/share/applications/

# Download Alternative Icon
wget2 --hsts-file="${XDG_DATA_HOME:-$HOME/local/share}/wget-hsts" \
  -O $HOME/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty_alt.png \
  https://github.com/hristost/kitty-alternative-icon/raw/main/kitty_icon.png

# Add Desktop icon
sed -i "s|Icon=kitty|Icon=$HOME/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty_alt.png|g" \
  $HOME/.local/share/applications/kitty.desktop
sed -i "s|Exec=kitty|Exec=$HOME/.local/kitty.app/bin/kitty|g" ~/.local/share/applications/kitty*.desktop
{{ end }}
