#!/bin/bash

{{ if eq .chezmoi.osRelease.name "Pop!_OS" }}
echo "# Installing KopiaUI"
curl -s https://kopia.io/signing-key | sudo gpg --dearmor -o /usr/share/keyrings/kopia-keyring.gpg
echo "deb [signed-by=/usr/share/keyrings/kopia-keyring.gpg] http://packages.kopia.io/apt/ stable main" | sudo tee /etc/apt/sources.list.d/kopia.list
sudo apt update
sudo apt install kopia-ui
{{ end }}
