[Desktop Entry]
Type=Application
Exec=flatpak run io.kopia.KopiaUI
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=KopiaUI
Name=KopiaUI
Comment[en_US]=KopiaUI Backup Solution
Comment=KopiaUI Backup Solution
